.markdown-body ul {
  list-style-type: disc !important;
  margin-left: 1.5rem !important;
  padding-left: 0 !important;
}

.markdown-body ol {
  list-style-type: decimal !important;
  margin-left: 1.5rem !important;
  padding-left: 0 !important;
}

/* Nested lists */
.markdown-body ul ul,
.markdown-body ol ol,
.markdown-body ul ol,
.markdown-body ol ul {
  margin-left: 1.25rem !important;
  list-style-type: circle !important;
}

.section {
    page-break-inside: avoid;
    break-inside: avoid;
}

/* --- A4 Portrait --- */
.a4-portrait {
  width: 210mm;
  margin: 0 auto;
  box-sizing: border-box;
}

