<template x-component="embedded">
    <div x-data="{sections: [], document: {}}"
         @change="if(document){sections = document.sections.filter(x => section.sections.includes(x.id))}"
         @edit-embed.window="$refs.setup.showModal()"
         x-effect="if(section.document){
            let {json, dir} = await fetch_doc(section.document);
            document = json;
            sections = document.sections.filter(x => section.sections.includes(x.id))}"
         x-import="doc-sections/read-only">
        <table class="table border border-1 border-base-200" x-show="sections.length != 0" x-cloak x-transition>
            <tr>
                <td class="p-2">
                    <template x-for="doc_section in sections" :key="doc_section.id">
                        <ui-read-only></ui-read-only>
                    </template>
                </td>
            </tr>
        </table>

        <dialog x-ref="setup" class="modal">
            <div class="modal-box max-w-none w-[80vw] max-h-[80vh] overflow-y-auto"
                 x-data="{search: '', items: []}">
                <h3 class="text-lg font-bold">Section reference</h3>
                <p class="py-4" x-effect="items = miniSearch.search(search)">
                <div x-show="!section.document" x-cloak x-transition>
                    <input
                            type="search"
                            x-model="search"
                            placeholder="Search micro doc..."
                            class="input input-primary input-sm w-full pr-10 mb-5"/>

                    <ul class="menu bg-base-200 rounded-box w-full" x-show=items.length !=" 0"
                        x-cloak x-transition>
                        <template x-for="result in items" :key="result.id">
                            <li><a @click="section.document = result.id"
                                   x-text="result.title"></a></li>
                        </template>
                    </ul>
                </div>
                <div x-show="section.document" x-cloak x-transition>
                    <table class="table">
                        <tr class="text-3xl">
                            <th>
                                Document:&nbsp;
                                <span x-text="document.name"></span>
                            </th>
                            <td>
                                <button @click="section.document = ''"
                                        class="btn btn-ghost btn-circle">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>

                        <template x-for="doc_section in document.sections"
                                  :key="doc_section.id">
                            <tr>
                                <td>
                                    <ui-read-only></ui-read-only>
                                </td>
                                <td>
                                    <input
                                            type="checkbox"
                                            class="checkbox checkbox-primary"
                                            :value="doc_section.id"
                                            x-model="section.sections"/>
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>

                </p>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</template>