<template x-component="markdown">
    <div x-data="markdown">
      <div x-show="isEditing" style="height: calc(60vh)">
          <div @click.outside="if(isEditing){toggleMode()}" x-ref="editor" class="h-full"></div>
      </div>
      <div
        @click="toggleMode"
        x-show="!isEditing"
        class="markdown-body prose max-w-none bg-transparent"
        x-html="renderedMarkdown"></div>
    </div>
</template>
<template x-component="markdown-readonly">
    <div x-data="markdown">
      <div
        class="markdown-body max-w-none bg-transparent"
        x-html="renderedMarkdown"></div>
    </div>
</template>