<template x-component="read-only">
    <div>
        <!-- Markdown -->
        <template x-if="doc_section.type == 'markdown'">
            <div
                    x-data="{content: ''}"
                    x-init="content = doc_section.data"
                    x-import="doc-sections/markdown">
                <ui-markdown-readonly></ui-markdown-readonly>
            </div>
        </template>

        <!-- Draw.io -->
        <template x-if="doc_section.type == 'drawio'">
            <div
                    x-data="{currentDiagram: '', selectedMode: 'minimal', readonly: true, section: {}}"
                    x-init="currentDiagram = doc_section.data;section = doc_section"
                    x-import="doc-sections/drawio">
                <ui-drawio></ui-drawio>
            </div>
        </template>

        <!-- Sketch -->
        <template x-if="doc_section.type == 'sketch'">
            <div
                    x-data="{currentDiagram: '', selectedMode: 'sketch', readonly: true, section: {}}"
                    x-init="currentDiagram = doc_section.data;section = doc_section"
                    x-import="doc-sections/drawio">
                <ui-drawio></ui-drawio>
            </div>
        </template>

        <!-- Mermaid -->
        <template x-if="doc_section.type == 'mermaid'">
            <div
                    x-data="{currentDiagram: '', readonly: true}"
                    x-init="currentDiagram = doc_section.data"
                    x-import="doc-sections/mermaid">
                <ui-mermaid></ui-mermaid>
            </div>
        </template>

        <!-- Chart -->
        <template x-if="doc_section.type == 'chart'">
            <div
                    x-data="{currentData: '', readonly: true, currentChartType: doc_section.chart_type, currentViewMode: doc_section.view_mode,section: {}}"
                    x-init="currentData = doc_section.data;section = doc_section"
                    x-import="doc-sections/charts">
                <ui-charts></ui-charts>
            </div>
        </template>

        <!-- table -->
        <template x-if="doc_section.type == 'table'">
            <div x-import="doc-sections/table"
                 x-init="section = doc_section"
                 x-data="{section: {},readonly: true}">
                <ui-table></ui-table>
            </div>
        </template>

        <!-- html -->
        <template x-if="doc_section.type == 'html'">
            <div x-html="doc_section.data"></div>
        </template>

        <!-- image -->
        <template x-if="doc_section.type == 'image'">
            <img
                    :src="doc_section.data"
                    class="max-w-full rounded shadow">
        </template>

    </div>
</template>
<template x-component="read-effect">
    <table class="table table-sm">
        <tr>
            <th colspan="2">Effect</th>
        </tr>
        <template x-for="(value,key) in document.effect" :key="key">
            <tr>
                <th x-text="key"></th>
                <td x-text="value"></td>
            </tr>
        </template>
    </table>
</template>
<template x-component="decision-summary">
    <template x-if="document.decision">
        <div
                x-data="{content: ''}"
                class="mt-6"
                x-init="content = document.decision"
                x-import="doc-sections/markdown">
            <ui-markdown-readonly></ui-markdown-readonly>
        </div>
    </template>
</template>