<template x-component="tags">
    <div class="border p-2 rounded-box">
        <p class="text-sm text-gray-400">Tags</p>
        <template x-for="tag in microDoc.json.tags" :key="tag">
            <div class="badge badge-outline badge-primary gap-2 mr-2">
                <span x-text="tag"></span>
                <button
                        type="button"
                        @click="microDoc.json.tags = microDoc.json.tags.filter(x => x != tag);$dispatch('change')"
                        class="btn btn-xs btn-circle btn-outline border-none text-primary hover:bg-primary hover:text-white">
                    ✕
                </button>
            </div>
        </template>
        <input type="text" class="input input-sm mt-2"
               @keyup.enter="if (!$el.value){return};microDoc.json.tags.push($el.value);$el.value = ''"
               @focusout="if (!$el.value){return};microDoc.json.tags.push($el.value);$el.value = ''"
               x-effect="if(!('tags' in microDoc.json)){microDoc.json.tags = []}"
               placeholder="add tag..." list="tags"/>
        <datalist id="tags">
            <template x-for="tag in tags.filter(x => !microDoc.json.tags.includes(x))" :key="tag">
                <option :value="tag"></option>
            </template>
        </datalist>
        <div x-data="{suggestions: []}"
             x-show="suggestions.length != 0" x-cloak x-transition
             x-effect="suggestions = microDoc.json.suggested_tags.filter(x => !microDoc.json.tags.includes(x))">
            <p class="text-sm text-gray-400">Suggestions</p>
            <template x-for="tag in suggestions" :key="tag">
                <div class="badge badge-outline badge-accent gap-2 mr-2 cursor-pointer" x-text="tag" @click="microDoc.json.tags.push(tag)"></div>
            </template>
        </div>
        <pre x-text="JSON.stringify(,null,2)"></pre>
    </div>
</template>