<template x-component="architecture-section">
    <div class="m-5"
         x-show="navigation == 'architecture'" x-cloak x-transition>

        <h1 class="text-3xl">
            <span x-show="level == 'enterprise'" x-cloak x-transition>System Landscape</span>
            <span x-show="level.split(':').length == 2" x-cloak x-transition>System: <span x-text="level.split(':').at(1)"></span></span>
            <span x-show="level.split(':').length == 3" x-cloak x-transition>Container: <span x-text="level.split(':').at(2)"></span> (<span x-text="level.split(':').at(1)"></span>)</span>
        </h1>

        <div x-show="active_tab == 'C4'" x-cloak x-transition
             x-data="C4Diagram"
             class="mt-5">
            <template x-if="active_tab == 'C4'">
                <div x-init="draw(level,c4_data)" @redraw.window="draw(level,c4_data)">
                    <div id="c4" class="w-full h-[85vh]"></div>
                    <div @c4-node-clicked.window="selected = $event.detail">
                    </div>
                </div>
            </template>
        </div>

        <div x-show="active_tab == 'principles'" x-data="{search: $persist('').as('principleSearch')}" x-cloak x-transition class="mt-5">


            <input type="search" x-model="search" class="input mb-5" required placeholder="Filter..." />

            <template
                    x-for="principle in Object.values(documents).filter(x => x.type == 'principle' && x.scope == 'enterprise')"
                    :key="principle.id">
                <div x-show="`${principle.title} ${principle.principle}`.toLowerCase().includes(search.toLowerCase())" x-cloak x-transition class="collapse collapse-arrow bg-base-100 border border-base-300 mb-2">
                    <input type="radio" name="principles"/>
                    <div class="collapse-title font-semibold" x-text="principle.title"></div>
                    <div class="collapse-content text-sm">
                        <div
                                x-data="{content: '', readonly: true}"
                                x-init="content = principle.principle ? principle.principle : PRINCIPLE"
                                x-import="doc-sections/markdown">
                            <ui-markdown></ui-markdown>
                        </div>
                        <a class="btn btn-outline btn-primary btn-sm mt-5"
                           :href="'#' + principle.id">
                            Open
                        </a>
                    </div>
                </div>
            </template>

            <template x-if="level.split(':').length > 1">
                <template
                        x-for="principle in Object.values(documents).filter(x => x.type == 'principle' && x.scope == level.split(':').at(1))"
                        :key="principle.id">
                    <div x-show="`${principle.title} ${principle.principle}`.toLowerCase().includes(search.toLowerCase())" x-cloak x-transition class="collapse collapse-arrow bg-base-100 border border-base-300 mb-2">
                        <input type="radio" name="principles"/>
                        <div class="collapse-title font-semibold" x-text="principle.title"></div>
                        <div class="collapse-content text-sm">
                            <div
                                    x-data="{content: '', readonly: true}"
                                    x-init="content = principle.principle ? principle.principle : PRINCIPLE"
                                    x-import="doc-sections/markdown">
                                <ui-markdown></ui-markdown>
                            </div>
                            <a class="btn btn-outline btn-primary btn-sm mt-5"
                               :href="'#' + principle.id">
                                Open
                            </a>
                        </div>
                    </div>
                </template>
            </template>

            <template x-if="level.split(':').length > 2">
                <template
                        x-for="principle in Object.values(documents).filter(x => x.type == 'principle' && x.scope == level.split(':').slice(1).join(':'))"
                        :key="principle.id">
                    <div x-show="`${principle.title} ${principle.principle}`.toLowerCase().includes(search.toLowerCase())" x-cloak x-transition  class="collapse collapse-arrow bg-base-100 border border-base-300 mb-2">
                        <input type="radio" name="principles"/>
                        <div class="collapse-title font-semibold" x-text="principle.title"></div>
                        <div class="collapse-content text-sm">
                            <div
                                    x-data="{content: '', readonly: true}"
                                    x-init="content = principle.principle ? principle.principle : PRINCIPLE"
                                    x-import="doc-sections/markdown">
                                <ui-markdown></ui-markdown>
                            </div>
                            <a class="btn btn-outline btn-primary btn-sm mt-5"
                               :href="'#' + principle.id">
                                Open
                            </a>
                        </div>
                    </div>
                </template>
            </template>
        </div>

        <div x-show="active_tab == 'decisions'" x-cloak x-transition
             class="grid grid-cols-12 mt-5 gap-5">
            <div class="col-span-11" x-data="{search: $persist('').as('decisionSearch')}">
                <table class="table table-pin-rows">
                    <tr>
                        <td colspan="3">
                            <input type="search" x-model="search" class="input mb-5" required placeholder="Filter..." />
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Summary</th>
                    </tr>
                    <template
                            x-for="decision in filter_decisions(documents,level)"
                            :key="decision.id">
                        <tr x-show="`${decision.title} ${decision.decision}`.toLowerCase().includes(search.toLowerCase())">
                            <th x-text="decision.sequence_number"></th>
                            <td x-text="decision.title"></td>
                            <td>
                                <div x-show="decision.type == 'DD'" x-cloak x-transition
                                     class="badge badge-outline badge-info whitespace-nowrap">Design Decision
                                </div>
                                <div x-show="decision.type == 'ADR'" x-cloak x-transition
                                     class="badge badge-outline badge-primary whitespace-nowrap">Architecture Decision
                                    Record
                                </div>
                            </td>
                            <td>
                                <div x-show="decision.status == 'decided'" x-cloak x-transition
                                     class="badge badge-success">decided
                                </div>
                                <div x-show="decision.status == 'rejected'" x-cloak x-transition
                                     class="badge badge-error">rejected
                                </div>
                                <div x-show="decision.status == 'draft'" x-cloak x-transition
                                     class="badge badge-neutral">draft
                                </div>
                                <div x-show="decision.status == 'review'" x-cloak x-transition
                                     class="badge badge-warning">decided
                                </div>
                            </td>
                            <td x-show="decision.type == 'DD'" x-cloak x-transition>
                                <div
                                        x-data="{content: '', readonly: true}"
                                        x-init="content = decision.decision ? decision.decision : 'short summary of **problem** and **decision**'"
                                        x-import="doc-sections/markdown">
                                    <ui-markdown></ui-markdown>
                                </div>
                            </td>
                            <td x-show="decision.type == 'ADR'" x-cloak x-transition>
                                <div x-text="convert_y(decision.ystatement)"></div>
                            </td>

                            <td>
                                <a class="btn btn-ghost btn-xs"
                                   :href="'#' + decision.id">
                                    go to
                                </a>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>

    </div>
</template>