<template x-component="body">
    <div class="max-h-[95vh] overflow-y-auto"
         x-import="main/document-section;main/task-section;main/dashboard-section;main/architecture-section;main/all-documents;main/node-diagram">
        <ui-document-section></ui-document-section>
        <ui-task-section></ui-task-section>
        <ui-dashboard-section></ui-dashboard-section>
        <ui-architecture-section></ui-architecture-section>
        <ui-all-documents></ui-all-documents>
        <ui-node-diagram></ui-node-diagram>
    </div>
</template>