<template x-component="dashboard-section">
    <div class="m-5"
             x-show="navigation == 'dashboard'" x-cloak x-transition
             x-effect="index_project(documents)">
            <h1 class="text-6xl">Projects</h1>

            <template x-if="navigation == 'dashboard'">
                <div
                        x-data="hillChart(dashboard_data.hillchart, { readonly: true })"
                        @hillclick.window="open_document($event.detail.id)"></div>
            </template>
            <hr class="m-5">
            <pre x-text="JSON.stringify(dashboard_data,null,2)"></pre>
        </div>
</template>