<template x-component="task-section">
    <div class="m-5" x-show="active_tab == 'tasks'" x-cloak x-transition>
        <h1 class="text-6xl"><span x-text="current.title"></span> items</h1>
        <div class="grid grid-cols-12 mt-5 gap-5">
            <div class="col-span-8">
                <table class="table table-pin-rows">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Prio</th>
                        <th>Status</th>
                    </tr>
                    <template x-for="sub in get_work_items(documents)" :key="sub.id">
                        <template x-if="current.id == sub.parent">
                            <tr>
                                <td x-text="sub.title"></td>
                                <td>
                                    <div x-show="sub.type == 'DD'" x-cloak x-transition
                                         class="badge badge-outline badge-info">Design Decision
                                    </div>
                                </td>
                                <td x-init="sub.prio = sub.prio ? sub.prio : 0"
                                    x-data="{prio: {0: 'select-primary', 1: 'select-accent', 2: 'select-info', 3: 'select-ghost'}}">
                                    <select x-model="sub.prio"
                                            :class="prio[sub.prio]"
                                            class="select select-xs">
                                        <option value="0">Must have</option>
                                        <option value="1">Should have</option>
                                        <option value="2">Could have</option>
                                        <option value="3">Won't have</option>
                                    </select>
                                </td>
                                <td
                                    x-data="{status: {'draft':'select-primary', 'review': 'select-warning', 'decided': 'select-success', 'rejected': 'select-error'}}">
                                    <select x-model="sub.status"
                                            :class="status[sub.status]"
                                            class="select select-xs">
                                        <option x-show="['DD','ADR'].includes(sub.type)'">draft</option>
                                        <option x-show="['DD','ADR'].includes(sub.type)'">review</option>
                                        <option x-show="['DD','ADR'].includes(sub.type)'">decided</option>
                                        <option x-show="['DD','ADR'].includes(sub.type)'">rejected</option>
                                    </select>
                                </td>
                                <td>
                                    <a class="btn btn-ghost btn-xs"
                                            :href="'#' + sub.id">
                                        edit
                                    </a>
                                </td>
                            </tr>
                        </template>
                    </template>
                </table>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-2">
                <ul class="menu bg-neutral-content rounded-box w-56">
                    <li><a @click="create_decision(current.id)">New decision</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                </ul>
            </div>
        </div>

    </div>
</template>