<template x-component="micro-doc">
    <div @change.debounce="debouncedSave">
        <input class="text-5xl w-[95%]" x-model="microDoc.json.name"/>
        <hr class="mb-5"/>

        <div class="grid grid-cols-12">
            <div class="col-span-8" x-import="doc-components/meta-data">
                <ui-header></ui-header>
            </div>
            <div class="col-span-4" x-import="doc-components/node-diagram">
                <ui-node-diagram></ui-node-diagram>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-3">
            <template x-if="microDoc.json.type != 'infodeck'">
                <div class="col-span-9" id="microDocContent"
                     x-import="doc-components/main-content;doc-components/decision;doc-components/y-statement;doc-components/principle">
                    <ui-decision></ui-decision>
                    <ui-y-statement></ui-y-statement>
                    <ui-principle></ui-principle>
                    <ui-main></ui-main>
                </div>
            </template>
            <template x-if="microDoc.json.type == 'infodeck'">
                <div class="col-span-9">
                    <div class="grid grid-cols-10 gap-3" x-data="{slides: []}">
                        <template x-for="slide in slides">
                            <div class="col-span-3 card bg-base-100 shadow-sm">
                                <div class="card-body">
                                    <h2 class="card-title">Card title!</h2>
                                    <p>A card component has a figure, a body part, and inside body there are title and
                                        actions parts</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn btn-primary">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <div class="col-span-1 flex flex-col">
                            <button @click="slides.push(0)" class="btn btn-primary btn-outline btn-circle mt-auto">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </template>
            <div class="col-span-3">
                <div x-import="doc-sections/tags;doc-components/effect;navigation/relations;navigation/order;navigation/archive">
                    <ui-effect></ui-effect>
                    <ui-inbound></ui-inbound>
                    <ui-outbound></ui-outbound>
                    <ui-tags></ui-tags>
                    <ui-order></ui-order>
                    <ui-archive></ui-archive>
                </div>
            </div>
        </div>
    </div>
</template>