<template x-component="micro-doc">
    <div @change.debounce="debouncedSave">
        <input class="text-5xl w-[95%]" x-model="microDoc.json.name"/>
        <hr class="mb-5"/>

        <div class="grid grid-cols-12">
            <div class="col-span-8" x-import="doc-components/meta-data">
                <ui-header></ui-header>
            </div>
            <div class="col-span-4" x-import="doc-components/node-diagram">
                <ui-node-diagram></ui-node-diagram>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-3">
            <div class="col-span-9" x-import="doc-components/main-content;doc-components/decision;doc-components/y-statement;doc-components/principle">
                <ui-decision></ui-decision>
                <ui-y-statement></ui-y-statement>
                <ui-principle></ui-principle>
                <ui-main></ui-main>
            </div>
            <div class="col-span-3">
                <div x-import="doc-sections/tags;doc-components/effect;navigation/relations;navigation/order;navigation/archive">
                    <ui-effect></ui-effect>
                    <ui-inbound></ui-inbound>
                    <ui-outbound></ui-outbound>
                    <ui-tags></ui-tags>
                    <ui-order></ui-order>
                    <ui-archive></ui-archive>
                </div>
            </div>
        </div>
    </div>
</template>