<template x-component="main">
    <div x-data="SectionHelper">
        <template x-for="section in microDoc.json.sections" :key="section.id">
            <div class="relative my-10 group">

                <!-- Markdown -->
                <template x-if="section.type == 'markdown'">
                    <div
                            x-data="{content: ''}"
                            x-init="content = section.data"
                            x-effect="section.data = content;$dispatch('change')"
                            x-import="doc-sections/markdown">
                        <ui-markdown></ui-markdown>
                    </div>
                </template>

                <!-- Draw.io -->
                <template x-if="section.type == 'drawio'">
                    <div
                            x-data="{currentDiagram: '', selectedMode: 'minimal'}"
                            x-init="currentDiagram = section.data"
                            x-effect="section.data = currentDiagram;$dispatch('change')"
                            x-import="doc-sections/drawio">
                        <ui-drawio></ui-drawio>
                    </div>
                </template>

                <!-- Sketch -->
                <template x-if="section.type == 'sketch'">
                    <div
                            x-data="{currentDiagram: '', selectedMode: 'sketch'}"
                            x-init="currentDiagram = section.data"
                            x-effect="section.data = currentDiagram;$dispatch('change')"
                            x-import="doc-sections/drawio">
                        <ui-drawio></ui-drawio>
                    </div>
                </template>

                <!-- Mermaid -->
                <template x-if="section.type == 'mermaid'">
                    <div
                            x-data="{currentDiagram: ''}"
                            x-init="currentDiagram = section.data"
                            x-effect="section.data = currentDiagram;$dispatch('change')"
                            x-import="doc-sections/mermaid">
                        <ui-mermaid></ui-mermaid>
                    </div>
                </template>

                <!-- Chart -->
                <template x-if="section.type == 'chart'">
                    <div
                            x-data="{currentData: ''}"
                            x-init="currentData = section.data"
                            x-effect="section.data = currentData;$dispatch('change')"
                            x-import="doc-sections/charts">
                        <ui-charts></ui-charts>
                    </div>
                </template>

                <!-- embed -->
                <template x-if="section.type == 'reference'">
                    <div x-import="doc-sections/embedded">
                        <ui-embedded></ui-embedded>
                    </div>
                </template>

                <!-- Floating delete icon -->
                <div class="absolute top-2 right-2">
                    <template x-if="section.type == 'reference' && section.document">

                        <div class="badge badge-outline badge-info cursor-pointer mr-3 hover:text-warning transition"
                             x-text="index.documents[section.document].name"
                             @click="open_doc(section.document)"></div>

                    </template>
                    <template x-if="section.type == 'reference' && !section.document">

                        <div class="badge badge-outline badge-error mr-3">reference not configured</div>

                    </template>
                    <template x-if="section.type == 'reference'">
                        <i class="mr-3 cursor-pointer fa-regular fa-pen-to-square text-gray-400 hover:text-warning"
                           @click="$dispatch('edit-embed')"></i>
                    </template>
                    <button
                            @click="removeSection(section)"
                            class="text-gray-400 hover:text-error transition">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>

            </div>
        </template>
        <ul x-data="{active: false}"
            @mouseenter.debounce.300ms="active = true"
            @mouseleave.debounce.300ms="active = false"
            class="menu menu-horizontal menu-sm bg-base-200 rounded-box mt-5">
            <li class="menu-disabled">
                <a>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_markdown_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add Markdown section">
                    <i class="fa-brands fa-markdown"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_drawio_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add DrawIO section">
                    <i class="fa-solid fa-draw-polygon"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_sketch_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add sketch section">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_mermaid_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add Mermaid section">
                    <i class="fa-solid fa-diagram-project"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_chart_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add data section">
                    <i class="fa-solid fa-chart-line"></i>
                </a>
            </li>
            <li x-show="active" x-cloak x-transition>
                <a @click="add_reference_section"
                   class="tooltip tooltip-bottom"
                   data-tip="Add embed section">
                    <i class="fa-solid fa-file-import"></i>
                </a>
            </li>
        </ul>
    </div>
</template>