<template x-component="slides">
    <div x-data="SectionHelper">
        <div class="grid grid-cols-10 gap-3" x-data="{selected: ''}">
            <template x-for="slide in microDoc.json.sections">
                <div class="col-span-3 card bg-base-100 image-full shadow-sm">
                    <figure>
                        <img
                                :src="'https://picsum.photos/seed/' + slide.id + '/400/300'"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Info</h2>
                        <p>More info</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary" @click="selected = slide;slide_modal.showModal()">Open</button>
                        </div>
                    </div>
                </div>
            </template>

            <div class="col-span-1 flex flex-col">
                <button @click="add_slide_section" class="btn btn-primary btn-outline btn-circle mt-auto">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>

            <dialog id="slide_modal" class="modal" x-data>
    <div class="modal-box w-[98vw] max-w-[100vw] h-[98vh] max-h-[100vh]
                bg-cover bg-center bg-no-repeat"
         :style="`background-image: url('https://picsum.photos/seed/${selected.id}/400/300')`">

        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <!-- Voorgrondcontent als je die nog wilt -->
        <div class="backdrop-brightness-75 h-[90vh] w-[90vw] rounded">
            <h3 class="text-lg font-bold text-white">Titel</h3>
            <p class="text-white/80">Eventuele tekst</p>
        </div>

    </div>
</dialog>
            
        </div>
    </div>
</template>