<template x-component="slides">
    <div x-data="SectionHelper" x-import="doc-components/main-content">
        <div class="grid grid-cols-10 gap-3"
             x-init="if(Object.keys(pointer).length != 0){selected = pointer;} else if (microDoc.json.sections.filter(x => x.type === 'slide').length != 0 ) {selected = microDoc.json.sections.filter(x => x.type === 'slide').at(0)}; slide_modal.showModal()"
             x-effect="if(selected){pointer = selected}"
             x-data="{selected: '', pointer: $persist({}).as('slide-' + microDoc.id)}">
            <template x-if="Object.keys(pointer).length">
                <div class="col-span-9 flex justify-end">
                    <div class="tooltip tooltip-left" data-tip="Where I left off">
                        <button class="btn btn-sm btn-ghost"
                                @load-slide.window="console.log(pointer,$event);selected = pointer; slide_modal.showModal()"
                                @click="selected = pointer; slide_modal.showModal()">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
            </template>
            <template x-for="slide in microDoc.json.sections.filter(x => x.type === 'slide')">
                <div class="col-span-3 card bg-base-100 image-full shadow-sm relative cursor-pointer"
                     @click="selected = slide; slide_modal.showModal()">

                    <!-- Background Image -->
                    <figure class="h-40 overflow-hidden">
                        <img :src="`/assets/slides/${slide.layout}.png`"
                             class="object-cover w-full h-full"/>
                    </figure>

                    <!-- Text -->
                    <div class="card-body">
                        <h2 class="card-title text-sm" x-text="slide.title"></h2>
                    </div>
                </div>
            </template>

            <div class="col-span-1 flex flex-col">
                <button @click="layout_modal.showModal()" class="btn btn-primary btn-outline btn-circle mt-auto">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>


            <dialog id="layout_modal" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Select lay-out for new page</h3>
                    <p class="py-4">

                    <div class="grid grid-cols-12 gap-4">

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('A');layout_modal.close();">
                            <div class="w-full h-20 bg-base-200 border border-base-300 grid grid-cols-2 gap-0.5 p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['A']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('B');layout_modal.close();">
                            <div class="w-full h-20 bg-base-200 border border-base-300 grid grid-cols-12 gap-0.5 p-0.5 rounded">
                                <div class="col-span-7 bg-base-300"></div>
                                <div class="col-span-5 bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['B']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('C');layout_modal.close();">
                            <div class="w-full h-20 bg-base-200 border border-base-300 grid grid-cols-12 gap-0.5 p-0.5 rounded">
                                <div class="col-span-5 bg-base-300"></div>
                                <div class="col-span-7 bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['C']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('D');layout_modal.close();">
                            <div class="w-full h-20 bg-base-200 border border-base-300 grid grid-cols-2 gap-0.5 p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="grid grid-rows-2 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['D']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('E');layout_modal.close();">
                            <div class="w-full h-20 grid grid-cols-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-rows-2 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['E']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('F');layout_modal.close();">
                            <div class="w-full h-20 grid grid-cols-2 grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['F']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('G');layout_modal.close();">
                            <div class="w-full h-20 bg-base-200 border p-0.5 rounded">
                                <div class="w-full h-full bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['G']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('H');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="grid grid-cols-2 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['H']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('I');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-cols-2 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['I']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('J');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['J']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('K');layout_modal.close();">
                            <div class="w-full h-20 grid grid-cols-3 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['K']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('L');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['L']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('M');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-3 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['M']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('N');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-cols-12 gap-0.5">
                                    <div class="col-span-8 bg-base-300"></div>
                                    <div class="col-span-4 bg-base-300"></div>
                                </div>
                                <div class="grid grid-cols-12 gap-0.5">
                                    <div class="col-span-4 bg-base-300"></div>
                                    <div class="col-span-8 bg-base-300"></div>
                                </div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['N']"></span>
                        </div>

                        <div class="col-span-4 mb-4 cursor-pointer"
                             @click="add_slide_section('O');layout_modal.close();">
                            <div class="w-full h-20 grid grid-rows-2 gap-0.5 bg-base-200 border p-0.5 rounded">
                                <div class="grid grid-cols-3 gap-0.5">
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                    <div class="bg-base-300"></div>
                                </div>
                                <div class="bg-base-300"></div>
                            </div>
                            <span class="text-gray-400" x-text="layout_names['O']"></span>
                        </div>
                    </div>

                    </p>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>

            <dialog id="slide_modal" class="modal" x-data>
                <template x-if="selected && selected.sections">
                    <div class="modal-box h-[99vh] w-[99vh * 1.414] max-w-[100vw] max-h-[100vh]
               bg-cover bg-center bg-no-repeat rounded-xl overflow-hidden"
                         x-import="doc-components/section-selector"
                         id="slide-canvas"
                         x-data="{images: false, section: ''}"
                         :style="'background' in selected.sections ? `background-image: url('${await fetch_section(selected.sections.background.parent,selected.sections.background.id,true)}')` : ''">

                        <div class="absolute right-2 top-2"
                             x-data="{slides: []}"
                             x-effect="slides = microDoc.json.sections.filter(x => x.type == 'slide').map(x => x.id)">
                            <div class="badge badge-outline badge-info">
                                slide&nbsp;<span x-text="slides.indexOf(selected.id) + 1"></span>&nbsp;of&nbsp;<span
                                    x-text="slides.length"></span>
                            </div>
                            <template x-if="selected.id != slides.at(0)">
                                <button x-show="selected.id != slides.at(0)" x-cloak x-transition
                                        @click="selected = microDoc.json.sections.find(x => x.id === slides[slides.indexOf(selected.id) - 1])"
                                        @keyup.left.window="$el.click()"
                                        class="btn btn-sm btn-circle btn-ghost">
                                    <i class="fa-solid fa-angles-left"></i>
                                </button>
                            </template>
                            <template x-if="selected.id != slides.at(-1)">
                                <button x-show="selected.id != slides.at(-1)" x-cloak x-transition
                                        @click="selected = microDoc.json.sections.find(x => x.id === slides[slides.indexOf(selected.id) + 1])"
                                        @keyup.right.window="$el.click()"
                                        class="btn btn-sm btn-circle btn-ghost">
                                    <i class="fa-solid fa-angles-right"></i>
                                </button>
                            </template>
                            <button x-show="selected.id == slides.at(-1)" x-cloak x-transition
                                    @click="layout_modal.showModal()"
                                    class="btn btn-sm btn-circle btn-ghost">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            </button>

                            <button @click="slide_modal.close()"
                                    class="btn btn-sm btn-circle btn-ghost">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>


                        <input type="text" class="input input-sm bg-[rgba(255,255,255,0.5)]" x-model="selected.title"/>
                        <button class="btn btn-sm ml-2"
                                @click="images = true;section = 'background';section_selector.showModal()">background
                        </button>

                        <select class="select select-sm bg-[rgba(255,255,255,0.5)] ml-2" x-model="selected.layout">
                            <template x-for="(name,id) in layout_names">
                                <option :value="id" :selected="id == selected.layout" x-text="name"></option>
                            </template>

                        </select>

                        <button @click="removeSection(selected);slide_modal.close()"
                                class="btn btn-sm btn-circle btn-ghost hover:text-error ml-10">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <template x-component="slide-component">
                            <div>

                                <template x-if="!($prop('section') in selected.sections)">
                                    <div>
                                        <button class="btn btn-circle btn-outline"
                                                @click="images = false;section = $prop('section');section_selector.showModal()">
                                            <i class="fa-solid fa-gear"></i>
                                        </button>
                                    </div>
                                </template>

                                <template
                                        x-if="$prop('section') in selected.sections && selected.sections[$prop('section')].parent != microDoc.id">
                                    <div class="cursor-pointer p-5"
                                         @click="images = false;section = $prop('section');section_selector.showModal()"
                                         x-effect="visible=false;doc_section = await fetch_section(selected.sections[$prop('section')].parent,selected.sections[$prop('section')].id);visible=true;"
                                         x-import="doc-sections/read-only"
                                         x-data="{doc_section: '',visible: false}">
                                        <div x-effect="if('type' in doc_section && ['drawio','sketch','chart','mermaid'].includes(doc_section.type)){
                                        $el.closest('.content-container').classList.remove('flex');
                                    }else{
                                        $el.closest('.content-container').classList.add('flex');
                                    }"></div>
                                        <template x-if="visible">
                                            <div>
                                                <ui-read-only></ui-read-only>
                                                <div class="tooltip tooltip-right"
                                                     :data-tip="index.documents[selected.sections[$prop('section')].parent].name">
                                                    <button
                                                            @click.stop="active_deck = microDoc.id; open_doc(selected.sections[$prop('section')].parent);"
                                                            class="btn btn-xs btn-ghost btn-circle text-gray-400 hover:text-info transition">
                                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </template>

                                <template
                                        x-if="$prop('section') in selected.sections && selected.sections[$prop('section')].parent == microDoc.id">
                                    <div x-data="{section: {}}"
                                         @removed="console.log($prop('section'),selected.sections);delete selected.sections[$prop('section')];console.log(selected.sections);"
                                         class="w-max-full"
                                         x-effect="section = microDoc.json.sections.find(s => s.id === selected.sections[$prop('section')].id)">
                                        <ui-section deck="true"></ui-section>
                                    </div>
                                </template>

                            </div>
                        </template>

                        <template x-if="selected.layout == 'A'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-6 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                                <div class="col-span-6 flex items-center justify-center content-container">
                                    <ui-slide-component section="B"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'B'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-7 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                                <div class="col-span-5 flex items-center justify-center content-container">
                                    <ui-slide-component section="B"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'C'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-5 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                                <div class="col-span-7 flex items-center justify-center content-container">
                                    <ui-slide-component section="B"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'D'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-6 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                                <div class="col-span-6">
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'E'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-6">
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="col-span-6 flex items-center justify-center content-container">
                                    <ui-slide-component section="C"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'F'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-6">
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="col-span-6">
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                    <div class="h-[44vh] flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'G'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-12 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'H'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-12 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-6 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-6 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'I'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-6 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-6 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-12 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'J'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-12 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'K'">
                            <div class="grid grid-cols-12 gap-3 h-[88vh]">
                                <div class="col-span-4 flex items-center justify-center content-container">
                                    <ui-slide-component section="A"></ui-slide-component>
                                </div>
                                <div class="col-span-4 flex items-center justify-center content-container">
                                    <ui-slide-component section="B"></ui-slide-component>
                                </div>
                                <div class="col-span-4 flex items-center justify-center content-container">
                                    <ui-slide-component section="C"></ui-slide-component>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'L'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="E"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="F"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'M'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[30vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[30vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="E"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="F"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[30vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="G"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="H"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="I"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'N'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-8 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                    <div class="col-span-8 flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <template x-if="selected.layout == 'O'">
                            <div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="B"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="C"></ui-slide-component>
                                    </div>
                                    <div class="col-span-4 flex items-center justify-center content-container">
                                        <ui-slide-component section="D"></ui-slide-component>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-3 h-[44vh]">
                                    <div class="col-span-12 flex items-center justify-center content-container">
                                        <ui-slide-component section="A"></ui-slide-component>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <ui-section-selector></ui-section-selector>
                    </div>
                </template>
            </dialog>

        </div>
    </div>
</template>