<template x-component="archive">
    <div x-data="{items: []}" x-effect="if(microDoc.json.type == 'infodeck'){items = microDoc.json.archive.filter(x => x.type == 'slide')}else{items = microDoc.json.archive}">
        <button class="btn btn-accent btn-sm btn-outline mt-4 w-full"
                x-show="items.length != 0" x-cloak x-transition
                onclick="section_archive_modal.showModal()">
            Section Archive
        </button>

        <dialog id="section_archive_modal" class="modal">
            <div class="modal-box max-w-none w-[80vw] max-h-[80vh] overflow-y-auto" x-import="doc-sections/read-only">
                <h3 class="text-lg font-bold">Archived sections</h3>
                <p class="py-4">
                <table class="table">
                    <template x-for="doc_section in items"
                              :key="doc_section.id">
                        <tr>
                            <td>
                                <button @click="microDoc.json.sections.push(doc_section);microDoc.json.archive = microDoc.json.archive.filter(x => x.id != doc_section.id)"
                                        class="btn btn-success btn-sm btn-outline btn-circle mb-2">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                </button>
                                <button @click="delete_section(doc_section.id)"
                                        class="btn btn-error btn-sm btn-outline btn-circle mb-2">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <template x-if="doc_section.type != 'slide'">
                                    <ui-read-only></ui-read-only>
                                </template>
                                <template x-if="doc_section.type == 'slide'">
                                    <div>
                                        <h2 class="text-xl" x-text="doc_section.title"></h2>
                                        <h3 class="text-lg text-gray-400" x-text="layout_names[doc_section.layout]"></h3>
                                    </div>
                                </template>
                            </td>
                        </tr>
                    </template>
                </table>
                </p>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</template>