<template x-component="notebook-selector">
    <div>
        <i class="fa-solid fa-book text-xl ml-5 text-white"></i>
        <select @change="openNotebook($el.value)"
                class="select select-ghost text-white text-xl m-5 w-[70%]">
            <option disabled selected>Select notebook</option>
            <template x-for="book in notebooks" :key="book.id">
                <option :value="book.id" :selected="book.id == notebook" x-text="book.name"></option>
            </template>
            <option>new/import</option>
            <option>soft delete</option>
        </select>
        <button class="btn m-5 w-[85%] btn-error btn-outline" @click="restoreNotebooks"
                x-show="permissionIssue" x-cloak x-transition>
            Missing folder permission
        </button>
    </div>
</template>