<template x-component="order">
    <div x-show="microDoc.json.sections.length > 1" x-cloak x-transition>
        <button class="btn btn-accent btn-sm btn-outline mt-4 w-full"
                onclick="section_order_modal.showModal()">
            Order sections
        </button>

        <dialog id="section_order_modal" class="modal">
            <div class="modal-box max-w-none w-[80vw] max-h-[80vh] overflow-y-auto" x-import="doc-sections/read-only">
                <h3 class="text-lg font-bold">Order sections</h3>
                <p class="py-4">

                <div x-data="sectionReorder(microDoc)" class="join join-vertical bg-base-100 w-full">

                    <template x-for="(doc_section, index) in sections" :key="doc_section.id">
                        <div class="collapse collapse-arrow join-item border-base-300 border w-full">
                            <input type="checkbox"/>

                            <!-- HEADER -->
                            <div class="collapse-title font-semibold">
                                <span x-text="doc_section.type"></span>&nbsp;
                                <span class="opacity-50" x-text="doc_section.id"></span>
                            </div>

                            <!-- BODY -->
                            <div class="collapse-content space-y-4">

                                <!-- Reorder knoppen -->
                                <div class="flex gap-2 pt-2">
                                    <button
                                            class="btn btn-sm btn-outline"
                                            @click="moveUp(index);$dispatch('change')"
                                            :disabled="index === 0">
                                        ▲ Up
                                    </button>

                                    <button
                                            class="btn btn-sm btn-outline"
                                            @click="moveDown(index);$dispatch('change')"
                                            :disabled="index === sections.length - 1">
                                        ▼ Down
                                    </button>

                                </div>
                                <template x-if="doc_section.type == 'markdown'">
                                    <div class="max-h-[10vh]">
                                        <ui-read-only></ui-read-only>
                                    </div>
                                </template>
                                <template x-if="doc_section.type != 'markdown'">
                                    <div class="max-h-[20vh] max-w-[20vw]">
                                        <ui-read-only></ui-read-only>
                                    </div>
                                </template>

                            </div>
                        </div>
                    </template>

                </div>

                </p>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</template>