<template x-component="dev-utils">
  <ul class="menu bg-neutral-content rounded-box w-auto m-5">
    <li class="text-secondary">
      <a @click="$refs.importFile.click()">
        <i class="fa-solid fa-upload"></i>
        Import data
        <input
          x-ref="importFile"
          type="file"
          accept=".json"
          @change="load_data"
          style="display: none" />
      </a>
    </li>

    <li class="text-info">
      <a @click="export_data">
        <i class="fa-solid fa-download"></i>
        Export data
      </a>
    </li>

    <li class="text-error">
      <a @click="clear_storage">
        <i class="fa-regular fa-trash-can"></i>
        Clear data
      </a>
    </li>
  </ul>
</template>