<template x-component="overview">
    <ul x-show="'name' in organisation" x-cloak x-transition
        x-data="{show_map: $persist(false)}"
        class="menu bg-neutral-content m-5 rounded-box w-auto max-h-[80vh] overflow-y-auto">
        <li><a @click="open_document('dashboard')">Dashboard</a></li>
        <li>

            <a @click="show_map = true"
               :class="show_map ? 'relative w-full h-[200px] rounded-lg p-2 transition-all' : 'cursor-pointer'" x-ref="parent">
                <span x-show="!show_map">Map</span>
                <button x-show="show_map"
                        @click.stop="show_map = false"
                        class="btn btn-circle btn-ghost btn-xs absolute top-1 right-1"
                        title="Close map">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div x-show="show_map" x-cloak x-transition>
                    <template x-if="show_map">
                        <div x-data="NodeDiagram">
                            <div x-init="
                            $nextTick(() => {
                              rawData = {};
                              rect = $refs.parent.getBoundingClientRect();
                              prepare_data(node_index,window.location.hash.replace('#',''))
                              render(rect.width*0.93, rect.height*0.95);
                            })
                            "></div>
                        </div>
                    </template>
                </div>
                <div x-data="{clicked: false}">
                    <button x-show="show_map" x-cloak x-transition
                        class="btn btn-circle btn-ghost btn-xs absolute bottom-1 right-1"
                        @click="my_modal_2.showModal();clicked=true">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </button>
                    <dialog id="my_modal_2" class="modal">
                      <div class="modal-box w-11/12 max-w-6xl">
                        <h3 class="text-lg font-bold">Document map</h3>
                        <p class="py-4">
                            <template x-if="clicked">
                            <div x-data="NodeDiagram" class="w-full h-[80vh]" x-ref="modal_parent">
                                <div x-init="
                                $nextTick(() => {
                                  rect = $refs.modal_parent.getBoundingClientRect();
                                  rawData = node_index;
                                  render(rect.width, rect.height);
                                })
                                "></div>
                            </div>
                        </template>
                        </p>
                      </div>
                      <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                      </form>
                    </dialog>
                </div>


            </a>


        </li>
        <li><a @click="open_document('about')">About <span x-text="organisation.name"></span></a></li>
        <li><a @click="open_document('architecture')">Architecture</a></li>
        <li><a href="#all" )">All documents</a></li>
    </ul>
</template>